<div class="container-login">

    <br>

<form action="crear" method="POST" enctype="multipart/form-data" class="col-7 col-sm-6 col-md-5 col-lg-4   mx-auto border container-form md-form">

    <div class="form-row ">
        <div class="col-12 col-sm-12 col-md-12  mb-2 mt-5  text-center"><h3>REGISTRACION</h3></div>
      <div class="col-11 col-md-11 col-sm-11  mt-2 mb-1 mx-auto form-inline border-gris">
        <input type="text" name= 'nombre' class="col-10 col-sm-10 col-md-10 p-2  border-0 p-0" id="validationServer03"placeholder= "Nombre" required>
        <label  class= "col-1 col-sm-1 col-md-2" for="validationServer03 "></label>

      </div>
      <div class="col-11 col-md-11 col-sm-11  mt-2 mb-1 mx-auto form-inline border-gris">
        <input type="text" name= 'apellido' class="col-10 col-sm-10 col-md-10 p-2  border-0 p-0" id="validationServer04"placeholder= "Apellido" required>
        <label  class= "col-1 col-sm-1 col-md-2" for="validationServer04 "></label>
      </div>
      <div class="col-11 col-md-11 col-sm-11  mt-2 mb-1 mx-auto form-inline border-gris">
        <input type="email" name= 'email' class="col-10 col-sm-10 col-md-10 p-2  border-0 p-0" id="validationServer05"placeholder= "correo" required>
        <label  class= "col-1 col-sm-1 col-md-2" for="validationServer05 "> <i class=" icon-orange far fa-envelope  mt-2 fa-1x"></i></label>

      </div>

      <div class="col-11 col-md-11 col-sm-11  mt-2 mb-1 mx-auto form-inline border-gris">
        <input type="password" name= 'password' class="col-10 col-sm-10 col-md-10 p-2 border-0 p-0 " id="validationServer01"placeholder= "contraseña" required>
        <label  class= "col-1 col-sm-1 col-md-2" for="validationServer05 "><i class=" icon-orange fas fa-lock-open  mt-2 fa-1x"></i></label>

      </div>
    </div>
    <div class="col-11 col-md-11 col-sm-11  mt-2 mb-1 mx-auto ">

      <input type="file" name="image">
    </div>


    <div class="d-flex justify-content-center col-12 my-2 mt-3">
    <button class=" col-8 col-sm-6 col-md-6 col-lg-5  col-xl-5  mb-2 mt-md-4 mt-lg-2 boton " type="submit"  >Registrarme</button>
    </div>
    <div class="  d-flex justify-content-center mb-4 mt-2 mt-md-1 mb-md-3 mb-lg-5 mt-3"><i class="fab fa-facebook fa-2x facebook "></i><p class="my-auto ml-1 recordarme" > Ingresa con Facebook</p></div>
</form><br>

</div>